* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
     background: #c62828; 
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-weight: bold;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.primary-btn {
    background: #0a74ff;
    padding: 6px 14px;
    border-radius: 4px;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}


.search-section {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-section input {
    padding: 8px;
    width: 200px;
}


.hero {
    
    text-align: center;
    padding: 60px 20px;
}


.section {
    text-align: center;
    padding: 60px 20px;
}


.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}

.feature-card {
    background: #fff;
    width: 85%;
    max-width: 360px;
    padding: 30px 20px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.feature-card h3 {
    margin-bottom: 10px;
}

.feature-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}


form {
    max-width: 300px;
    margin: auto;
}

form input,
form button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}


.footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 15px;
}


#goTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 6px 10px;
    font-size: 18px;
}


@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: #132a7c;
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .nav-links a {
        margin: 10px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
